.video__container {
  width: 50%;
  height: 100%;
  padding: 0.2em;
}

.video__container.grid {
  width: 20%;
}

.video__container.list {
  width: 100%;
}

.video__item {
  width: 100%;
  max-width: 300px;
  height: 100%;
  /* display: flex; */
  align-items: center;
  cursor: pointer;
  margin: auto;
}

.video__thumbnail {
  width: 100%;
  height: 70%;
}

.video__description {
  margin-left: 0.2em;
  width: 100%;
}

.video__title {
  font-size: 0.9rem;
  color: white;
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.video__channel {
  font-size: 0.8rem;
  color: #aaaaaa;
}

@media screen and (max-width: 1200px) {
  .video__container.grid {
    width: 25%;
  }
}

@media screen and (max-width: 501px) {
  .video__container.grid {
    width: 100%;
  }
}
