.app {
  max-width: 100rem;
  margin: 0 10px 0 10px;
}

.content {
  display: flex;
}

.detail {
  flex: 1 1 70%;
}

.list {
  flex: 1 1 30%;
}

@media screen and (max-width: 1020px) {
  .content {
    flex-wrap: wrap;
  }

  .detail {
    flex: 1 1 100%;
  }

  .list {
    flex: 1 1 100%;
    margin-top: 50px;
  }
}
